body {
  background-color: #FAF3F0;
  font-family: Arial;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1600px;
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(300px, 7);
  gap: 20px 10px;
  justify-content: space-around;
}
.block {
  background-color: #D4E2D4;
  padding: 20px;
  border-radius: 25px;
  border: none;
  box-shadow: 2px 2px 4px #FFCACC;
}
.for-app, .for-customs {
  height: 100px;
  grid-column: span 3;
  text-align: center;
}
.dome-properties {
  font-size: 18px;
  grid-column: span 3;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
}
.description {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #DBC4F0;
  border-top: 2px solid #DBC4F0;
  border-radius: 5px;
}
.inner-for {
  display: grid;
  grid-template-columns: auto auto;
}
input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 12px 6px 6px;
  box-shadow: 2px 2px 2px #FFCACC;
  margin: 10px;
}
button {
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 6px 5px;
  box-shadow: 2px 2px 2px #FFCACC;
}
button:hover {
  background-color: #FFCACC;
}
select {
  border: none;
  padding: 5px;
  border-radius: 7px 7px 0 0;
  box-shadow: 2px 2px 2px #FFCACC;
  outline: none;
}

.smaller {
  font-size: 12px;
}
.red {
  color: red;
}
